@page

@model CarRepair.Pages.Pages.Mechanic.AssignedRepairs

@{
    ViewData["Title"] = "AssignedRepairs";
    Layout = "_MechanicLayout";


   


}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <div>
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="container">

                <div class="row height d-flex justify-content-center align-items-center">

                    <div class="col-md-8">

                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search By Id">
                            @* <button class="btn btn-primary">Search</button> *@
                        </div>

                    </div>

                </div>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>

<section class="attendance">
    <div class="attendance-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Repair ID</th>
                    <th>Visit Time</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var repair in @Model.Repairs)
                {
                    <partial name="_MechanicTable" model="@repair" />
                }

            </tbody>
        </table>
    </div>
</section>