@model Repair

<form asp-controller="Appointments" asp-action="Delete" method="post">
    <input type="hidden" name="repairId" value="@Model.Id">
    <button type="submit" class="btn btn-danger">
        <i class="fa-solid fa-trash-can"></i>
    </button>
</form>