@model List<IdentityUser>
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Add New Mechanics
</button>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in Model)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Mechanic to the System</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form asp-controller="Mechanic" asp-action="Add" method="post">
            <div class="modal-body">
                <div class="form-group m-4">
                    <input type="text" placeholder="User Name" class="form-control" name="username">
                </div>
                <div class="form-group m-4">
                    <input type="text" placeholder="Email Adress" class="form-control" name="email">
                </div>
                <div class="form-group m-4">
                    <input type="text" placeholder="Password" class="form-control" name="password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
  </div>
</div>