@page
@model CarRepair.Pages.Pages.Admin.SendConfirm
@{
    ViewData["Title"] = "SendConfirm";
    Layout = "_TestLayout";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>@Model.AppointmentId</h1>
    <form method="post">
        <input type="hidden" name="Id">
        <input type="hidden" name="AppointmentId" value="@Model.AppointmentId">
        <label for=""> user visit date</label>
        <input type="date" name="Acknowledge.VisitDate">
        <input type="text" placeholder="Price" name="Acknowledge.Price">
        <input type="text" placeholder="Notes" name="Acknowledge.Note">
        <label for=""> user expires confirm date</label>
        <input type="date" name="Acknowledge.AcceptDate">
        <button type="submit">submit</button>
    </form>
</div>