@model List<IdentityUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "_AdminLayout";
}

<h1>Users List</h1>
<hr>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in Model)
        {
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>