@model List<Repair>
@{
    ViewData["Title"] = "Accepted";
}


<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Car Model</th>
            <th scope="col">Issue</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Repair repair in Model)
        {
            <tr>
                <th scope="row">@repair.Id</th>
                <td>@repair.VisitDate</td>
                <td>@repair.CarModel</td>
                <td>@repair.Issue.Description</td>
            </tr>
        }
    </tbody>
</table>