@model Repair
@using CarRepair.MVC.Extensions

@{
    ViewData["Title"] = "Send";
}


<div class="container">
    <form method="post">
        <div class="form-group m-4">
            <input type="hidden" value="Id" name="Id" class="form-control" />
            <input type="hidden" value="@User.GetUserId()" name="UserId" class="form-control" />
        </div>
        <div class="form-group">
            <label for="">Visit Date</label>
            <input type="date" placeholder="enter your appoinments data" name="VisitDate" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleSelectGender">Car Model</label>
            <select asp-for="CarModel" asp-items="@Html.GetEnumSelectList<CarModels>()" class="form-control">
                <option value="">>--Select--<</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleTextarea1">What is your car problem</label>
            <textarea class="form-control" rows="4" value="Issue"
                asp-for="@Model.Issue.Description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
        <a class="btn btn-primary" asp-area="" asp-controller="Appointments" asp-action="Index" asp-route-appointmentStatus="@AppointmentStatus.NotSeen">Cancel</a>

    </form>
</div>
