@page
@model CarRepair.Pages.Pages.Users.AcceptedAppointments
@using CarRepair.Pages.Models
@{
    ViewData["Title"] = "AcceptedAppointments";
    Layout = "_UserLayout";
}

<h1>@ViewData["Title"]</h1>



@foreach (var appointment in Model.Repairs)
{
    <partial name="_CardPartial" model="@appointment" />
}
