@page
@using CarRepair.Pages.Models
@model CarRepair.Pages.Pages.Appointments.MakeAppointment
@{
    ViewData["Title"] = "MakeAppointment";
    Layout = "_UserLayout";
}


<div class="container">
    <form method="post">
        <div class="form-group m-4">
            <input type="hidden" value="Id" name="Repair.Id" class="form-control" />
            <input type="hidden" value="@Model.CurrentUserId" name="CurrentUserId" class="form-control" />
        </div>
        <div class="form-group">
            <label for="">Visit Date</label>
            <input type="date" placeholder="enter your appoinments data" name="Repair.VisitDate" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleSelectGender">Car Model</label>
            <select class="form-control" id="exampleSelectGender">
                @foreach (var type in Enum.GetValues(typeof(CarModels)))
                {
                    <option name=Repair.CarModel>@type</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="exampleTextarea1">What is your car problem</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4" value="Issue"
                name="Repair.Issue.Description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>

    </form>
</div>
