@page
@model CarRepair.Pages.Pages.Users.RejectedAppointments
@{
    ViewData["Title"] = "RejectedAppointments";
    Layout = "_UserLayout";
}

<h1>@ViewData["Title"]</h1>

@foreach (var appointment in Model.Repairs)
{
    <partial name="_CardPartial" model="@appointment" />
}