@page
@model CarRepair.Pages.Pages.Users.SeenAppointments
@{
    ViewData["Title"] = "SeenAppointments";
    Layout = "_UserLayout";
}

<h1>@ViewData["Title"]</h1>


@foreach (var appointment in Model.Repairs)
{
    <partial name="_CardPartial" model="@appointment" />
}
